.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .noImg {
        width: 100%;
        height: 350px;
        background: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}
