.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0px auto;
    width: 100%;

    .inputSection {
        width: 100%;

        h3 {
            text-align: center;
            color: #fe6060;
        }
    }
}
