.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1.2em 2em;
    background: rgba(107, 106, 106, 0.6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 7px;
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 3;

    .search {
        display: flex;
        width: 65%;

        @media (max-width: 550px) {
            img {
                width: 60px;
            }
        }

        @media (max-width: 849px) {
            width: 95%;
        }
    }

    .links {
        display: flex;
        align-items: center;

        &.loading {
            opacity: 0;
            transition: opacity 0.2s ease-in;
        }

        &.loaded {
            opacity: 1;
            transition: opacity 0.2s ease-in;
        }

        .pagesContainer {
            display: flex;

            @media (max-width: 849px) {
                display: none;
            }
        }

        .link {
            list-style: none;
            margin: 0 0.3em;
            font-size: 1.2rem;
            white-space: pre;

            &:hover {
                transition: color 0.3s;
                color: #dcd7d7;
            }
        }
    }
}
